{% extends "main.html" %}

{% block cont %}
<style>
    span {
        background-color: #f0f0f0;
        border: 1px solid #c0c0c0;
        border-radius: 12px;
        padding: 5px;
        word-wrap: break-word;
    }
</style>

<div style="padding: 50px 0 50px 0; line-height: 30px; font-size: 17px;">Переведите указанную сумму на <span>1FfxypvKjTwWH1ckuuKFZPoQWSzDngzrBr</span> в течение получаса, позже сессия будет закрыта.
<br>
Переводы осуществляются на карты банков: Сбербанк (Россия), Тинькофф, Альфа-банк, ВТБ-24.

</div>

{% endblock %}